.container{
    margin-bottom: 100px;
}
.bg-color{
    background-color: #feeae9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: deeppink;
}
.bye-button{
    background-image: linear-gradient( to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
    color: #fff;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}